<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="google" content="notranslate" />
    <meta name="description" content="A Rust URL Shortener App">
    <title>Shortify | {{ title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png">
    <script src="/assets/js/htmx.min.js"></script>
    <script src="/assets/js/hyperscript.min.js"></script>
</head>

<body hx-boost="true">
    <main id="content">
        {% block content %}{% endblock content %}

        {% include "partials/loading-indicator.html" %}
    </main>

    {% include "partials/footer.html" %}
</body>

</html>